.brand {
    @include clearfix();
    display: block;
    font-size: .75rem;
    color:$body-font-color;
    &:hover, &focus {
        color:inherit;
    }

    @include breakpoint('xlarge') {
        font-size: 1rem;
    }
}
.brand__logo {
    position: relative;
    display: block;
    float: left;
    font-size:2.25em;
    width: 1.33em;
    height: 1.333em;
    padding-top:.025em;
    image-rendering: -webkit-optimize-contrast;
    margin-right:.25em;
    background-color:rgba($success-color,1);
    //background-color: currentColor;
    text-align: center;
    border-radius:50%;
    //padding:.125em .125em;
 
    //border:1px solid $success-color;
    svg.icon {
        display: inline-block;
        fill:#fff;
        //fill: $secondary-color;
    }
}
.brand__name {
    color:inherit;
    font-size: 1em;
    font-weight: $global-weight-bold;
    //font-family: $header-font-family;
    text-transform: uppercase;
    line-height: 1;

    display: block;
    //float: right;
    //background-color: red;

    //width: calc(100% - 2em);
    margin: .5em 0 .125em;
    //padding-left: .5em;



    // span {
    //     display: none;

    //     @include breakpoint('large') {
    //         display: inline;
    //     }
    // }

}
.brand__descr {
    display: block;
    font-size: .875em;
    line-height: 1;
    line-height: $header-lineheight;
    font-family: $header-font-family;
    font-style: italic;
    clear: right;

}
