.brand {
    position: relative;
    display: block;
    font-size: .875rem;
    color:$body-font-color;
    margin:2em auto 0;
    &:hover, &:focus {
        color:#000;
    }

    @include breakpoint('tablet') {
        font-size: 1rem;
    }
    &:after {
        content:'';
        display: block;
        width: 3em;
        height:0;
        margin:2em auto .875em;
        border-bottom:1px solid currentColor;
        opacity:.5;
    }
}
.brand__logo {
    position: relative;
    display: block;
    //float: left;
    font-size:4.5em;
    width: 1.3666em;
    height: 1.3666em;
    padding:.075em 0 0 .075em;
    image-rendering: -webkit-optimize-contrast;
    margin:0 auto;
    background-color:rgba($success-color,.125);
    //background-color: currentColor;
    text-align: center;
    border-radius:50%;
    //padding:.125em .125em;
 
    //border:1px solid $success-color;
    svg.icon {
        display: inline-block;
        //fill:#fff;
        fill: $secondary-color;
        fill:$body-font-color;
    }
}
.brand__name {
    color:inherit;
    font-size: 1.875em;
    //font-weight: $global-weight-bold;
    letter-spacing: .075em;
    font-family: $header-font-family;
    //text-transform: uppercase;
    font-variant: small-caps;
    line-height: 1;
    text-align: center;

    display: block;
    margin: .75em auto .333em;



    // span {
    //     display: none;

    //     @include breakpoint('large') {
    //         display: inline;
    //     }
    // }

}
.brand__descr {
    display: block;
    margin:0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 1;
    line-height: $header-lineheight;
    font-family: $header-font-family;
    font-style: italic;

}
