.membercard {
    text-align: center;
    //margin-bottom: 1rem
    //background-color: rgba($success-color,.125);
    // border: 1px solid rgba($success-color,.25);
    padding-bottom:5%;
}
.membercard__fig {
    position: relative;
    width:100%;
    height:0;
    padding-bottom: 100%;
    margin:0;
    //background-color: red;

    img {
        box-shadow: 0 0 .5rem 0 rgba(#000,.333);
        display: block;
        //margin:0 auto;
        position: absolute;
        object-fit: cover;
        //border-radius:50%;
        width: 90%;
        height: 90%;
        left: 5%;
        top:5%;
    }
}
.membercard__data {
    padding:0 5%;
}
.membercard__title {
    font-size: 1rem;
    margin:0 0 .25em;
    line-height: 1.2;
    font-weight: $global-weight-bold;
    //color:$warning-color;
    a {
        //color:inherit;
        &:hover, &:focus {
            //color:$secondary-color;
        }
    }
}
.membercard__titulus {
    margin:0;
    font-size: .75rem;
    line-height: 1.2;
    font-family: $header-font-family;
    //font-style: italic;
    font-weight: $global-weight-bold;
    //color: $secondary-color;
    //text-decoration: underline;
    //font-family: $body-font-family;
}

.membercard__text {
    font-size: .75rem;
    margin:.75em 0 .5em 0;
    font-style: italic;
}