.menutoggler {
    font-weight: $global-weight-bold;
    font-family: $header-font-family;
    font-size: .75rem;
    line-height: 1;
    color:$body-font-color;

    display: inline-block;
    margin:.5rem auto 1.25rem;

    padding: .5em 1.25em;

    border: 1px solid currentColor;

    outline: none;

}
