.menutoggler {
    font-weight: $global-weight-bold;
    font-family: $header-font-family;
    font-size: .75rem;
    line-height: 1.2;
    color:$body-font-color;

    display: inline-block;
    margin: .4em 0 0;

    padding: .25em 1.25em;

    border: 1px solid currentColor;

    outline: none;

}
