.menu {
    //font-family: $header-font-family;

}

.sub-menu {
    @extend .menu;
}

.menu--main {
    margin: .75rem 0 2rem;
    font-family: $header-font-family;
    font-size:.75rem;
    font-weight: $global-weight-bold;
    @include breakpoint('tablet') {
        font-size: .875rem;
    }
    > li {
        &:first-child() {
            > a {
                padding-left:0;
            }
        }
        &:last-child() {
            > a {
                padding-right:0;
            }
        }

        &:not(:last-child()):after {
            content:'•';
            display: inline-block;
            margin:0 .333em;
            padding: .333em 0;
            line-height: 1;
            //color:currentColor;
            opacity:.5;
            //transform: translateY(.75em);
        }
    }
    a {
        padding: .333em 0;
        color:inherit;
        &:hover, &:focus {
            color:$secondary-color;
        }
    }

    .is-active {
        > a {
            background-color: transparent;
            color: $secondary-color;
            //color:$dark-gray;
            color:inherit;
            //text-decoration: underline;
        }
    }


    .is-dropdown-submenu {

        background-color: rgba($secondary-color, .95);
        border:none;
        padding:1.5em 0 2em;
        box-shadow: 0 .25rem 1rem 0 rgba(#000,.5);
        min-width: 12em;
        top:140% !important;
        left:0rem !important;


        a {
            font-size: .875em;
            padding: .666em 1rem .75em;
            //font-weight: $global-weight-normal;
            color:$white;
            font-family: $body-font-family;
            &:hover, &:focus {
                background-color: $secondary-color;
                color:#fff;
            }
        }

        &:before {
            position: absolute;
            top:-.666rem;
            left:1.125rem;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: .666rem solid transparent;  /* left arrow slant */
            border-right: .666rem solid transparent; /* right arrow slant */
            border-bottom: .666rem solid rgba($secondary-color, .95); /* bottom, add background color here */
            font-size: 0;
            line-height: 0;


        }

    }
}

.menu--mobilemain {
    margin-top:3rem;
    font-family: $header-font-family;
    //font-weight: $global-weight-bold;
    a {
        //text-transform: capitalize;
        font-size: 1.25rem;
        padding: .5em 0;
        color:inherit;
        //color:$white;
    }

    .is-active {
        > a {
            background-color: transparent;
            color: inherit;
            text-decoration: underline;
        }
    }

    .sub-menu {
        padding-bottom:.75rem;
        a {
            font-size: 1.125rem;
            padding: .5em 0;
        }
    }

    &.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
        border-color: $alert-color transparent transparent;
        //right:0;
        //border: 12px inset;
    }


}

.menu--student {
    font-weight: $global-weight-bold;


    > li {
        white-space: nowrap;
        line-height: 1.4;
       
        &:not(:last-child()):after{
            content:'•';
            display: inline-block;
            margin:0 .5em;
            transform: translateY(.125em);
        }
        &:last-child():after{
            content:'';
            display: inline-block;
            margin:0 .875em 0 0;
        }
    }
    a {
        //text-transform: uppercase;
        font-size: .75rem;
        padding: .333em 0;
        color: inherit;
        display: inline-block;
        &:hover, &:focus {
            color:$secondary-color;
        }
    }

    .is-active {
        > a {
            color: $secondary-color;
            background-color: transparent;
        }
    }
}

.menu--mobilestudent {
    font-weight: $global-weight-bold;
    > li {
        &:not(:last-child()):after{
            content:'•';
            display: inline-block;
            margin:0 .333em;
            transform: translateY(-.1125em);
        }
    }
    a {
        //text-transform: uppercase;
        font-size: .75rem;
        padding: .125em 0;
        margin:.25em 0;
        color:inherit;
        display: inline-block;
        &:hover, &:focus {
            //color:$warning-color;
        }
    }

    .is-active {
        > a {
            color: $alert-color;
            background-color: transparent;
        }
    }
}


.menu--side {
    font-family: $header-font-family;
    //font-weight: $global-weight-bold;
    margin-bottom: .75rem;
    font-size: 1rem;
    //text-transform: uppercase;
    > li {
        &:not(:last-child) {
            margin-bottom: .125em;
        }
    }

    a {
        position: relative;


        //text-transform: uppercase;
        padding: .5em 0;
        line-height: $header-lineheight;
        color:inherit;
        &:hover, &:focus {
            color:$secondary-color;
            // &:before {
            //     border-color: currentColor;
            // }
        }
        &:before {
            display: block;
            float:left;
            //font-weight: $global-weight-normal;
            //content:'[] ';
            //font-size: .875em;
        }
    }

    .is-active {
        > a {
            background-color: transparent;
            color: inherit;
            &:before {
                color:$alert-color;
                content: '';
                width: .5em;
                height:.5em;
                border-radius: .375em;
                background-color: $success-color;
                margin-right: 1em;
                transform: translateY(.333em);
                //margin-top: .333em;
            }
        }
    }
}

.menu-item--icon {
    > a {
        font-size: 1em;
        padding:0;
        .menu--student & {
            transform: translateY(.215em);
        }
        .menu--mobilestudent & {
            margin:0;
            transform: translateY(.125em)
        }
    }

}