.promotiles {
    display: flex;
    flex-flow: row wrap;
    text-shadow: 0 0 .25rem rgba(#000,.25);
}

.promotile {
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 20rem;

    color: $white;
    background-color:#ababab;

    @include breakpoint(medium) {
        height: 50vw;
    }
    @include breakpoint(tablet) {
        height: 30vw;
    }
    @include breakpoint(large) {
        height: 30vw;

    }
    @include breakpoint(xxlarge) {
        height: 20vw;
    }

}


.promotile__inner {
    text-align: center;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translateX(-50%) translateY(-55%);
    width:100%;
    max-width: $global-width/2;

    @include xy-gutters($gutter-position: left right bottom top);

}
.promotile__bgimage {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    a {
        position: relative;

        display: block;

        width: 100%;
        height: 100%;
        transition: all .4s;
        //background-color:#ababab;
        &:hover, &:focus {
            background-color: #dedede;
            img {
                //mix-blend-mode: normal;
                filter: grayscale(0);
            }
        }
    }
    img {
        display: block;

        width: 100%;
        height: 100%;
        transition:inherit;

        object-fit: cover;
        mix-blend-mode: multiply;
        //filter: grayscale(1);

    }
}
.promotile__subtitle {
    font-family: $header-font-family;
    font-size: 1rem;
    font-weight: $global-weight-bold;
    line-height: 1.2;


    margin: 0 0 .125em;

    @include breakpoint(large) {
        font-size: 1.33rem;
    }
}
.promotile__title {
    font-size: 1.75rem;
    text-transform: uppercase;

    margin: 0 0 0;

    @include breakpoint(large) {
        font-size: 2.5rem;
    }
}
.promotile__lead {
    font-size: 1rem;

    display: none;

    @include breakpoint(large) {
        font-size:1.125rem;
        display: block;
    }
}
.promotile__action {
    margin: .75em 0 0;
    text-shadow:none;
}

.promotile__action--onlyicon {
    display: block;
    line-height: 1;
    color:inherit;
    font-size: 1.125em;
    margin-top: .25em;
    &:hover, &:focus {
        color:$alert-color;
    }
    @include breakpoint(large) {
        font-size: 1.5em;
    }
}
