.orbit-bullets {
    text-align: center;
    button {
        //border-radius: 0;
    }
}
.testimonial {
    @include clearfix();
    border-left:none;
    padding:0;
    margin: 0 auto;
    max-width:rem-calc(600);
    text-align:center;


    cite {
        display: block;
        //font-family: $body-font-family;
        font-weight: $global-weight-bold;
        //color:$warning-color;
        color:inherit;
        font-size: 2.25em;
        margin-bottom:.5em;
        text-transform: none;
        &:before {
            display: none;
        }
    }
}

.testimonial, .testimonial p {
    font-size: 1rem;
    color:$white;
    font-weight:$global-weight-normal;
    //font-family: $header-font-family;
    //font-style: normal;
    text-transform: uppercase;
    text-shadow: 0 0 13px rgba($primary-color,.5);
    @include breakpoint('xlarge') {
        //font-size: 1.333rem;
    }
}

.testimonial p {

}