.front__thecontent {
 


    .widget--blogcage {
        background-color: $xxlight-gray;
        border:1px solid $xlight-gray;
        padding: 7% 8% 7%;
        margin-bottom:1rem;
        .readmore {
            display: inline-block;
            margin-top: 2em;
        }
    }
}

.front__bottom {
}

.widget--frontpage {
    &.widget_media_image {
        padding: 1.5rem 8% 1.5rem;
        background-color: $xxlight-gray;
        border:1px solid $xlight-gray;
        margin-bottom:1rem;
        
        text-align: center;
        img {
            border:1px solid $xlight-gray;
            max-width: 284px !important;
        }
    }
}