.toprow {
    @include clearfix();
    background-color: $xlight-gray;
    //background: linear-gradient(45deg, $secondary-color 0%, rgb(224, 174, 177) 50%, $success-color 100%);
    //border-bottom: 1px solid $light-gray;
    color:$dark-gray;
}
.toprow__nav {
    float:left;
    max-width: calc(100% - 5rem);
    margin:.333rem 0;
}
.toprow__action {
    float:right;
    line-height: 1;
    font-size: .75rem;
    color:$white;
    display: inline-block;
    background-color: $secondary-color;
    padding: .5em 1em;
    margin:.3666rem 0;
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    border-radius: 1em;
    &:hover, &:focus {
        color:$white;
        background-color: $success-color;
    }
}